

.header-container {
    display: flex;
    flex-direction: row;
    background-color: #004080;
    align-items: center;
    padding: 20px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}


.logo-flex {
    text-align: center;
    
    width: fit-content;


}

.title-flex {
    text-align: center;
    width: fit-content;
    margin-left: auto;
    color: white;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #003366;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation-item a{
    color: white;
    text-decoration: none;
}

.navigation-item a:hover {
    text-decoration: underline;

}

.main-content {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content h2{
    color: #0a519c;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-content ul{
    list-style-position: inside;
    list-style-type: none;
    
}
.main-content ul li::before{
    content: "- ";
    color: black;
    font-weight: bold;
}

.maincontent-item {
    margin: 10px;
}

.key-features{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.footer {
    background-color: #004080;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lms-login {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
.lms-login h2 {
    color:#0a519c;
}

.login-form {
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    padding: 30px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.input-fields {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    border-color: darkgrey;
    border-width: 3px;
}
